/*************************************************
/  Copyright 2015 IMOS
/ The IMOS AUV Viewer is distributed under 
/  the terms of the GNU General Public License
*************************************************/

body {

    min-width: 950px;
    min-height: 600px;
    overflow: hidden ! important;
    background-color: #e1e1e1;
}

#footer {
    padding: 10px 10px 25px 0px;
    color: #999999;
    padding: 16px;
    margin-right: 6px;
}

#footer .footerLogos {
    background-color: white;
    border-radius: 4px;
}

#footer a {
    color: #999999;
}

img.logo {
    padding: 6px;
}

#footer .left {
    margin-right: 20px;
}

#mainbody {
    height: 100%;
    overflow: auto !  important;
    padding-bottom: 15px;

}

.auvHeader {
    margin: 0 0 30px 0;
    padding: 20px 10px;
    background-color: #D4D6D7;
    background: #d4d6d7;
    background: -moz-radial-gradient(center, ellipse cover, #d4d6d7 0%, #c4c4c4 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d4d6d7), color-stop(100%,#c4c4c4));
    background: -webkit-radial-gradient(center, ellipse cover, #d4d6d7 0%,#c4c4c4 100%);
    background: -o-radial-gradient(center, ellipse cover, #d4d6d7 0%,#c4c4c4 100%);
    background: -ms-radial-gradient(center, ellipse cover, #d4d6d7 0%,#c4c4c4 100%);
    background: radial-gradient(ellipse at center, #d4d6d7 0%,#c4c4c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d6d7', endColorstr='#c4c4c4',GradientType=1 );
}

div#logo,
div.title * {
    display: inline;
    margin-left: 10px;
}

div.title
{
    left: 460px;
    position: absolute;
    top: 50px;
}
div.title h1 {
font-family: 'Lobster', cursive;
}

.toplinks {
    float: right;
}

.toplinks a {
    font-size: 12px;
    font-weight: bold;
    margin: 0 6px;
    text-decoration: none;
}

.toplinks a:hover {
    color: black;
    text-decoration: underline;
}

.noTextDecoration {
    text-decoration: none;
}

.align-right {
    float: right;
    margin: 0 0 15px 15px;
}

#imagecontainer {
    padding: 10px 20px;

}

#trackcontainer {
    padding-right: 5px;
    padding: 5px;
    margin: 5px;
}

#track_html {
    overflow: auto;
    height: 250px;
}

#helpSection, #galleryControls {
    padding: 20px 40px;
}

#controlWrapper {
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

#controlWrapper, #legendToggle, #mapcoords, #mapscale {
    font-size: 10px;
}

#wrapper div {
    float: left;
    padding: 6px;
}

#styles {
    float: left;
}

#image_html {
    clear: both;
}

#mapscale {
    width: 80px;
    float: left;
    padding: 3px;
}

#mapscale div {
    padding: 0px;
    font-size: 9px;
}

#mapcoords {
    width: 100px;
    z-index: 4;
    position: relative;
    float: right ! important;
    background: inherit;
    padding: 3px;
}

#mapcoords b {
    background: none;
}

.nofeature {
    margin: 2px 0px 5px 0px;
    padding: 5px;
    width: 100%;
    background-color: #fafafa;
}

.panelinfo {
    font-size: 11px;
}

.feature ul li {
    margin-left: 1em;
}

.block h3 {
    border: solid 1px #cccccc;
    background-color: #efefef;
    padding-left: 3px;
    width: 100%;
}

p.important {
    color: #3c668d;
    font-weight: bold;
}

/* legend and style changers */
.jqDrag {
    position: absolute;
    z-index: 9999999;
    background-color: #EFEFEF;
    cursor: move;
    border: solid 8px #999999;
    padding: 10px;
    margin: 6px;
    margin-left: 625px;
    margin-top: 400px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #aaa;
}

#legend {
    width: 350px;
}

#legendToggle, .getfeatureTitle {
    text-decoration: underline;
    cursor: pointer;
}

#legendToggle {
    float: right ! important;
    margin-right: 20px;
    padding: 3px;
}

#styleSliderContainer {
    width: 350px;
}

.closeIcon {
    cursor: default;
}

span.ol {
    background-color: #3c668d;
    -moz-border-radius: 15px ! important;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 6px;
    padding: 2px 8px;
}

/* Overview Map wigit */
.olControlOverviewMapElement {
    background-color: #3c668d;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover, .ygtvfocus {
    background-color: transparent;
}

a.ygtvlabel:hover {
    text-decoration: underline;
}

div.olControlScaleLineBottom {
    margin-top: -1px;
}

div.olControlScaleLineTop, div.olControlScaleLineBottom {
    border-color: #cccccc;
}

.olControlEditingToolbar, .olControlEditingToolbarItemInactive {
    width: 50px;
}

.olControlEditingToolbar div {
    float: left;
}

.olControlZoomBoxItemActive {
    background-position: -600px 0pt;
}

.olControlZoomBoxItemInactive {
    background-position: -500px 0pt;
}

.olControlZoomBoxItemInactive:hover {
    background-position: -600px 0pt;
}

.olControlNavigationItemActive {
    background-position: -800px 0pt;
}

.olControlNavigationItemInactive {
    background-position: -700px 0pt;
}

.olControlNavigationItemInactive:hover {
    background-position: -800px 0pt;
}

#controlPanZoom {
    position: relative;
    width: 42px;
    z-index: 1000;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panup,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panright,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_pandown,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panleft,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomin,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomout {
    background-repeat: no-repeat;
    background-image: url('../images/raa_y.gif');
    width: 23px ! important;
    height: 22px ! important;
    cursor: pointer;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panup img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_pandown img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panleft img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panright img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomin img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomout img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_Map_9 img {
    display: none;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomin {
    top: 68px ! important;
    left: 11px ! important;
    background-position: -1900px 0;
    z-index: 1;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomin:hover {
    background-position: -2000px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomout {
    top: 230px ! important;
    left: 11px ! important;
    background-position: -2100px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_zoomout:hover {
    background-position: -2200px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_OpenLayers\002E Map_9 img {
    display: none;
}

#controlPanZoom #OpenLayers_Control_PanZoomBar_ZoombarOpenLayers\002E Map_9 {
    height: 150px !important;
    left: 13px !important;
    top: 85px !important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_OpenLayers\002E Map_9 {
    left: 0px;
    z-index: 99;
    background-repeat: no-repeat;
    background-image: url('../images/raa_y.gif');
    background-position: -2300px 0;
    width: 30px;
    height: 10px;
    margin: 17px 6px 3px 0px;
    padding: 3px;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_OpenLayers\002E Map_9:hover {
    background-position: -2400px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panup {
    background-position: -1100px 0;
    z-index: 110;
    top: 7px ! important;
    left: 11px ! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panup:hover {
    background-position: -1200px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_pandown {
    background-position: -1300px 0;
    z-index: 110;
    top: 47px ! important;
    left: 11px ! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_pandown:hover {
    background-position: -1400px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panleft {
    background-position: -1500px 0;
    z-index: 100;
    top: 27px ! important;
    left: 0 ! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panleft:hover {
    background-position: -1600px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panright {
    background-position: -1700px 0;
    z-index: 100;
    top: 27px ! important;
    left: 22px ! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_6_panright:hover {
    background-position: -1800px 0;
}

.olControlOverviewMapElement {
    position: absolute ! important;
    bottom: 0px ! important;
    right: 0px ! important;
    _bottom: -1px ! important;
    _right: -1px ! important;
    background: #999 ! important;
    opacity: 0.9;
}

.olControlOverviewMapElement {
    -moz-border-radius: 0 ! important;
    background-color: #eee ! important;
    padding: 6px ! important;
}

.olControlOverviewMapExtentRectangle {
    border: 2px dotted #333333 !important;
    margin: 0 ! important;
    padding: 0 ! important;
}

.olControlOverviewMapMinimizeButton, .olControlOverviewMapMaximizeButton {
    bottom: 70px ! important;
    right: 2px ! important;
}

#layerswitch {
    position: static;
    clear: both;
}

.olControlLayerSwitcher {

}

/* hide it till positioned in style.css */
.olControlOverviewMapMaximizeButton {

    visibility: hidden;
}

#trackSelectorDiv {
    padding-top: 10px;
}

#loading_cover {
    /*visibility : hidden;*/
    width: 100%;
    height: 100%;
    opacity: 1;
    background: white;
    position: absolute;
    left: 0; /**/
    z-index: 99999999;
}

#loader {
    display: inline;
    position: relative;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#loader img {

    position: relative;
    /* left: 460px;*/
    top: 10px;
    width: 24px;
    height: 25px;
}

#sliderContainer, #styleSlider {
    width: 85%;
}

#sliderContainer, #styleSlider {
    float: left;
    margin: 3px;
    margin-right: 10px;
}

#mapWrapper {
    margin: 10px;
}

.stepcarousel,
#mapWrapper {
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 6px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px #cccccc;
}

.stepcarousel {
    position: relative; /*leave this value alone*/
    overflow: scroll; /*leave this value alone*/
    width: 99%; /*Width of Carousel Viewer itself*/
    height: 320px; /*Height should enough to fit largest content's height*/
    background-color: #999;
}

.stepcarousel .belt {
    position: absolute; /*leave this value alone*/
    left: 0;
    top: 0;
}

.stepcarousel .panel {
    float: left; /*leave this value alone*/
    overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
    margin: 4px; /*margin around each panel*/
    width: 350px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
    color: white;
    padding: 4px;
}

.stepcarousel .panel img {
    width: 100%; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
    /*cursor: pointer;*/
}

/* BUTTONS */
.buttons {
    clear: both;
}

select {
    text-align: left;
    font-weight: normal;
}

select#trackSelector {
    display: inline;
}

.buttons button.hover, select.hover {
    background-color: #eeeeee;
}

.buttons button, select {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
    padding: 5px 10px 5px 7px; /* Firefox */
    line-height: 17px; /* Safari */
}

*:first-child + html button[type] {
    padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}



